.TodoItem_root{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 2px 5px;
}

.TodoItem_root[aria-current="true"] {
    border-color: #4d4d4d;
    border-style: solid;
    border-width: 1px;
}

.TodoItem_checkBox{
    height: 20px;
    width: 20px;
}

.TodoItem_label{
    pointer-events: none;
}